html
{
    box-sizing: border-box;  height: 100%;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

body
{
    display: flex;  height: 100%;
 margin: 0; 
}

.container
{ width: 80%;
    margin: auto;  padding: 1em; 
}

.destination-container
{
    display: flex;  flex-flow: wrap;  justify-content: center;
}

.destination
{ display: flex;  align-items: center;  flex: 0 1 200px;  justify-content: center;  min-height: 200px;  margin: .5em;  text-align: center;
 color: white; 
    background: #03a9f4;  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, .4); 
}

h2
{
    margin: 0;  transform: rotate(-45deg);  text-shadow: 0 0 5px #01579b;
}

#florida
{
    background-color: #03a9f4;
}
.destination:hover h2 {
transform: rotate(0deg);
}

#paris
{
    background-color: #d32f2f;
}

